#container {
    padding: 50px;
    .text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        img {
            width: 50px;    
        }
        h1 {
            text-align: center;
        }
    }
    #webcam {
        margin: 0 auto;
        width: 600px;
        height: 450px;
        border: 10px #333 solid;
        position: relative;
        #videoElement {
            width: 100%;
            height: 100%;
            background-color: #666;
        }
        canvas {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    
    #id-input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 30px;
        .id-field {
            display: flex;
            input {
                width: 50px;
                font-size: 32px;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                margin: 2px;
                border: 2px solid #55525c;
                background-color: #21232d;
                font-weight: bold;
                color: #fff;
                transition: all 0.1s;
                &:focus {
                    border: 2px solid #a527ff;
                    box-shadow: 0 0 2px 2px #a527ff6a;
                }
            }
        }
    }    
}